doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/styles.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="description" content="Glitch 2.0 - Online treasure hunt of AAROH 19 - National level Techno Cultural fest organized by College of Engineering Adoor.")
    meta(name="keywords" content="sherlock,treasurehunt,aaroh,aaroh19,cea,ceadoor,fest,event,technical,cultural,technocultural")
    meta(name="theme-color" content="#000")
    meta(name="msapplication-navbutton-color" content="#000")
    meta(name="apple-mobile-web-app-status-bar-style" content="#000")
  body

    block header

    block messages
      if locals.flashes
      .row.justify-content-center
        .col-md-6
          - const categories = Object.keys(locals.flashes)
          each category in categories
              each message in flashes[category]
                .alert.flash(class=`flash--${category}` role="alert")
                    != h.icon(`${category}`) 
                    p.flash__text!= message
                    button.flash__remove.close(type="button" data-dismiss="alert" aria-label="Close") 
                      span(aria-hidden="true") &times;         

    block content

    block scripts
      script(src="/dist/main.bundle.js")
