doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/styles.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  body

    block header

    block messages
      if locals.flashes
      .row.justify-content-center
        .col-md-6
          - const categories = Object.keys(locals.flashes)
          each category in categories
              each message in flashes[category]
                .alert.alert-dismissible.fade.show(class=`flash--${category}` role="alert")
                    p.flash__text!= message
                    button.close(type="button" data-dismiss="alert" aria-label="Close") 
                      span(aria-hidden="true") &times;         

    block content

    block scripts
      script(src="/dist/main.bundle.js")
