extends layout

include mixins/_gameHeader

block header
    +gameHeader(user)
    
block content
    section#leaderboard
        .container
            .row.leaderboard__holder
                .col-md-9.leaderboard__holder--inner
                    h2 Top Players
                    nav
                        .nav.nav-tabs#nav-tab(role="tablist")
                            a.nav-item.nav-link#nav-home-tab(href="#nav-home" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true") Home
                            a.nav-item.nav-link.active#nav-away-tab(href="#nav-away" data-toggle="tab" role="tab" aria-controls="nav-away" aria-selected="true") Away
                    .tab-content#nav-tabContent     
                        .tab-pane.fade#nav-home(role="tabpanel" aria-labelledby="nav-home-tab")
                            table.table__main
                                thead.table__head--holder
                                    tr.table__head--inner
                                        th(scope="col").table__head--rank #
                                        th(scope="col").table__head--username User
                                        th(scope="col").table__head--level Level
                                        //- th(scope="col") College
                                tbody.table__body--holder
                                    each user, i in users
                                        - const userCollege = user.college
                                        - const collegeStrings = ['cea', 'ceadoor', 'collegeofengineeringadoor', 'ceaadoor', 'collegeofenggadoor', 'collegeofengineerigadoor','collegeofengnineeringadoor', 'collegwodengineeringadoor', 'collageofengineeringadoor', 'colegeofengineeringadoor','collegeofenginneringadoor', 'collegeofengineringadoor', 'coolegeofengineeringadoor', 'collegeifengineeringadoor', 'collegecofengineeringadoor', 'collegeofengineeeingadoor', 'collegeofengenaringadoor', 'collegeofengineeringaddor']
                                        - const clearStr = userCollege.replace(/[@_\-:,.\s]/gi, '')
                                        - const lowerStr = clearStr.toLowerCase()
                                        //- pre= h.dump(lowerStr)
                                        if (collegeStrings.includes(lowerStr))
                                            tr.table__body--inner
                                                td(scope="row").table__body--rank #{i+1}
                                                if (user.permission === 10)
                                                    td.table__body--user
                                                        div.user__profile--holder
                                                            //- img(src=user.photo).img-fluid.user__thumbnail
                                                            if (user.isBanned)                                                
                                                                p #[strike #{user.username}] 
                                                            else
                                                                p= user.username
                                                        div.user__college--holder
                                                            //- pre= h.dump(user)
                                                            if (user.isBanned)
                                                                p.user__college Banned
                                                            //- else
                                                            //-     p.user__college #{user.college}
                                                else
                                                    td.table__body--user: div.user__profile--holder
                                                            //- != h.icon('letter-a')     
                                                            p
                                                                a(href="https://aarohcea.com" target="_blank" rel="noopener") Aaroh19
                                                td.table__body--level= user.level
                                                //- td= user.college
                        .tab-pane.fade.show.active#nav-away(role="tabpanel" aria-labelledby="nav-away-tab")  
                            table.table__main
                                thead.table__head--holder
                                    tr.table__head--inner
                                        th(scope="col").table__head--rank #
                                        th(scope="col").table__head--username User
                                        th(scope="col").table__head--level Level
                                        //- th(scope="col") College
                                tbody.table__body--holder
                                    each user, i in users
                                        - const userCollege = user.college
                                        - const collegeStrings = ['cea', 'ceadoor', 'collegeofengineeringadoor', 'ceaadoor', 'collegeofenggadoor', 'collegeofengineerigadoor','collegeofengnineeringadoor', 'collegwodengineeringadoor', 'collageofengineeringadoor', 'colegeofengineeringadoor','collegeofenginneringadoor', 'collegeofengineringadoor', 'coolegeofengineeringadoor', 'collegeifengineeringadoor', 'collegecofengineeringadoor', 'collegeofengineeeingadoor', 'collegeofengenaringadoor', 'collegeofengineeringaddor']                                        
                                        - const clearStr = userCollege.replace(/[@_\-:,.\s]/gi, '')
                                        - const lowerStr = clearStr.toLowerCase()
                                        //- pre= h.dump(lowerStr)
                                        if (!collegeStrings.includes(lowerStr))
                                            tr.table__body--inner
                                                td(scope="row").table__body--rank #{i+1}
                                                td.table__body--user
                                                        div.user__profile--holder
                                                            if (user.isBanned)                                                
                                                                p #[strike #{user.username}] 
                                                            else
                                                                p= user.username
                                                        div.user__college--holder
                                                            //- pre= h.dump(user)
                                                            if (user.isBanned)
                                                                p.user__college Banned
                                                            else
                                                                p.user__college #{user.college}
                                                td.table__body--level= user.level
            
    //- section
    //-     nav
    //-         .nav.nav-tabs#nav-tab(role="tablist")
    //-             a.nav-item.nav-link.active#nav-all-tab(href="#nav-all" data-toggle="tab" role="tab" aria-controls="nav-all" aria-selected="true") All
    //-             a.nav-item.nav-link#nav-away-tab(href="#nav-away" data-toggle="tab" role="tab" aria-controls="nav-away" aria-selected="true") Away
    //-     .tab-content#nav-tabContent
    //-         .tab-pane.fade.show.active#nav-all(role="tabpanel" aria-labelledby="nav-all-tab") Some content here
    //-         .tab-pane.fade#nav-away(role="tabpanel" aria-labelledby="nav-away-tab") New content here